fastapi
uvicorn
openai
python-multipart
python-docx
pdfminer.six
openpyxl
faiss-cpu
python-pptx
lxml
PyPDF2
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httpx
beautifulsoup4
